
.emphasize {
    font-style: bold;
    color: #40a9ff;
  }
  
  .login-signinformtwo{
    position: relative;
    top:25%;
    background-color: #f4fbff;
  }
  

.login-form-forgot {
    float: right;
  }
.ant-col-rtl .login-form-forgot {
    float: left;
  }
.login-form-button {
    width: 100%;
  }