.ta-session-wrapper {
  display: flex;
  justify-content: center;
  align-self: center;
  min-height: calc(100vh - 116px);
}

.ta-session-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: middle;
  width: 100%;
  max-width: 450px;
}

.open-session-form-header h1 {
  margin: 8px 0;
}

.icon-textbox {
  display: flex;
  align-items: center;
}

.icon-textbox .ant-form-item {
  width: 100%;
}

.icon-textbox .anticon svg {
  margin-bottom: 20px;
  margin-right: 8px;
}

.ta-session-wrapper .ant-form-item-explain {
  margin-left: 28px;
}
