.page-card {
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-card .ant-form {
  width: 100vw;
  max-width: 450px;
  padding: 0 16px;
}

@media only screen and (max-width: 550px) {
  .page-card .ant-card {
    background: none;
    border: none;
    box-shadow: none;
  }

  .page-card .ant-card-body {
    padding: 0px;
  }
  .page-card {
    padding: 0px;
  }
}

.full-height-nav {
  max-width: 1152px;
  margin: auto;
}

.full-height-nav-footer {
  min-height: calc(100vh - 204px);

  display: flex;
  justify-content: center;
  align-items: center;
}
