.form-wrapper {
  height: 100%;
  padding: 24px;
  overflow: scroll;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .form-wrapper {
    background: none;
  }
}
.ImageCard {
  position: relative;
  height: 100%;
  overflow: hidden;
  background-image: url("https://res.cloudinary.com/dwgqvt5ng/image/upload/v1607238386/working_q7docc.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom left;
  background-size: 600px;
}

.sign-up .ant-btn {
  margin-top: 28px;
  margin-bottom: 8px;
}
