.button {
    width: auto;
    height: auto;
    background-color: BLACK;
    border-color: BLACK;
    padding: 10px;
    text-align: center;
    margin: 5px;
    font-weight: bold;
    font-family: "DM Sans", sans-serif;
}

.offset {
    margin: 15px;
}