.page-card {
  height: 100vh;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-card .ant-form {
  width: 100vw;
  max-width: 450px;
  padding: 0 16px;
}

@media only screen and (max-width: 550px) {
  .page-card .ant-card {
    background: none;
    border: none;
  }
}

.full-height-nav {
  min-height: calc(100vh - 184px);
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-height-nav-footer {
  min-height: calc(100vh - 204px);
  display: flex;
  justify-content: center;
  align-items: center;
}
