.main-div-acm {
    padding: 5px 15px 3px 15px;
    transform: scale(2.5);
    background-color: #FAFAFA;
    border-radius: 3px;
}

.add-course-button {
    width: auto;
    height: auto;
    font-size: 60%;
    background-color: #40A9FF;
    border-color: #40A9FF;
    padding: 1px 10px;
    text-align: center;
    margin: 5px;
    font-family: "Open Sans", sans-serif;
}

.cancel-button-acm {
    width: auto;
    height: auto;
    font-size: 60%;
    background-color: #F0F0F0;
    border-color: #F0F0F0;
    color: #262626;
    padding: 1px 10px;
    text-align: center;
    margin: 5px;
    font-family: "Open Sans", sans-serif;
}

.input-div {
    text-align: center;
    display: block;
}

.course-input {
    max-width: 125px;
    max-height: 13px;
    font-size: 8px;
}