.main-div-cqm {
    padding: 5px 10px 3px 10px;
    transform: scale(2.5);
    background-color: #FAFAFA;
    border-radius: 3px;
    max-width: 80%;
}

.sure-div {
    margin: 10px 0px 5px 0px;
    text-align: center;
    display: inherit;
    align-content: center;
    padding-left: 7px;
}

.cancel-message {
    color: #40A9FF;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    font-size: 65%;
}

.lose-spot {
    font-family: "DM Sans", sans-serif;
    color: #8C8C8C;
    font-size: 60%;
    padding-bottom: 5px;
}