.main-div-eem {
    padding: 5px 15px 3px 15px;
    transform: scale(2.5);
    background-color: #FAFAFA;
    border-radius: 3px;
}

.question {
    font-family: "DM Sans", sans-serif;
    color: #262626;
    font-size: 65%;
    padding-top: 5px;
}

.like-button {
    color: #8C8C8C;
    background-color: #FAFAFA;
    border-color: #FAFAFA;
    margin: 0px 5px 0px 0px;
}

.dislike-button {
    color: #8C8C8C;
    background-color: #FAFAFA;
    border-color: #FAFAFA;
    margin: 0px 0px 0px 5px;
}

.like-button:hover {
    border-color: #FAFAFA;
    background-color: #FAFAFA;
    color: #40A9FF;
}

.like-button:focus {
    border-color: #FAFAFA;
    background-color: #FAFAFA;
    color: #40A9FF;
}

.dislike-button:hover {
    border-color: #FAFAFA;
    background-color: #FAFAFA;
}

.dislike-button:focus {
    border-color: #FAFAFA;
    background-color: #FAFAFA;
}

.thumbs-div {
    padding-top: 5px;
}