.ant-col.modal-wrapper {
  width: 100vh;
  max-width: 300px;
}

.modal-wrapper-large {
  width: 100vw;
  max-width: 450px;
}

.element-wrapper {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .modal-wrapper-large {
    width: 100%;
  }
}

.submit-button {
  margin: 10px;
}

Rate {
  margin: 10px;
}

.feedback-text {
  text-align: left;
}
