.admin-navbar-wrapper {
  height: 62px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  line-height: 14px;
}

.admin-navbar-wrapper .avatar-dropdown {
  margin: 0 32px;
}

.ant-layout-sider-zero-width-trigger {
  color: white;
  background-color: #40a9fe;
  top: 14px;
  transition: none;
}

.ant-layout-sider-zero-width-trigger:hover {
  color: #40a9fe;
  background-color: white;
  transition: none;
}

.ant-layout-sider {
  position: fixed;
  z-index: 3;
  min-height: 100vh;
  height: 100%;
  padding: 0px;
}

.admin-body {
  padding: 24px;
  min-height: calc(100vh - 68px);
}

.admin {
  margin-left: 220px;
  min-height: 100vh;
}

@media only screen and (max-width: 992px) {
  .ant-layout-sider {
    position: fixed;
  }

  .admin {
    margin-left: 0px;
  }
}
