.admin-navbar-wrapper {
  height: 68px;
  display: flex;
  width: calc(100vw - 220px);
  justify-content: flex-end;
  align-items: center;
  line-height: 14px;
  position: fixed;
  z-index: 2;
  background-color: #f7f7f7;
}

.ant-layout-sider-zero-width-trigger {
  color: white;
  background-color: #40a9fe;
  top: 16px;

  transition: none;
}

.ant-layout-sider-zero-width-trigger:hover {
  color: #40a9fe;
  background-color: white;
  transition: none;
}

.ant-layout-sider {
  z-index: 3;
  min-height: 100vh;
  padding: 0px;
}

.admin .ant-layout {
  background-color: #f7f7f7;
}
