.component {
  background-color: white;
  height: 100vh;
}
.emphasize {
  font-style: bold;
  color: #40a9ff;
}

/* .header{
  font-size: 175%;
}

@media only screen and (max-width: 600px) {
  .header{
    font-size: 150%;
  }
} */
