.Icon {
  margin-right: 4px;
}

.Header {
  font-size: 14px;
  color: #1890ff;
  font-family: "DM Sans";
  margin-bottom: 0px;
  margin-left: 4px;
}

.Data {
  font-size: 24px;
  color: #1890ff;
  font-family: "DM Sans";
  margin-bottom: 0px;
}
