.help-ready .ant-avatar {
  height: 100%;
  width: 100%;
  max-width: 150px;
}

.HelpingUserInfo {
  color: grey;
  font-size: 14px;
}

.HelpingTitle {
  font-size: 24px;
}

.HelpingPerson {
  width: 40px;
}

.HelpingUserNotifiedInfo {
  color: grey;
  font-size: 14px;
}
