.help-ready .ant-avatar {
  width: 40%;
  height: 40%;
  margin: 8px;
}

/* .HelpingInnerGroupWrapper {
  position: relative;
  top: 30px;
} */
/* .HelpingPersonIcon {
  padding: 10px;
} */
/* .MobileSpacer {
  display: none;
} */
.HelpingUserInfo {
  color: grey;
  font-size: 14px;
}

.HelpingTitle {
  font-size: 24px;
}

.HelpingPerson {
  width: 40px;
}

.HelpingClock {
  width: 30px;
  position: relative;
  left: 3px;
}
.HelpingUserNotifiedInfo {
  color: grey;
  font-size: 14px;
  position: relative;
  left: 10px;
}

@media only screen and (max-width: 768px) {
  .help-ready .ant-avatar {
    width: 30%;
    min-width: 0px;
  }
}
