.Splash {
  width: 100vw;
}

.Splash h2 {
  margin-top: 16px;
  margin-bottom: 4px;
}

.header-title {
  color: white;
  font-size: 36px;
  font-weight: 100;
  line-height: 1.1;
  margin-bottom: 16px;
}
.body-title {
  font-size: 36px;
  font-weight: bolder;
  margin-top: 36px;

  margin-bottom: 16px;
}

.Splash .emphasize {
  color: #262626;
  font-size: 36px;
  font-weight: bold;
}

.headerImage {
  width: 500px;
}

.bodyImage {
  width: 100%;
  padding-right: 48px;
}

.body-wrapper {
  padding: 24px;
  margin: auto;
  width: 100vw;
  max-width: 1000px;
}

.header-wrapper {
  padding: 24px;
  display: flex;
  align-items: center;
  margin: auto;
  width: 100vw;
  max-width: 1000px;
}
