.ListItem {
  background-color: white;
  vertical-align: center;
  display: flex;
  float: right;
}
.Title {
  font-weight: bold;
  margin-bottom: 0px;
  padding: 8px;
}
.ant-tag {
  height: 10px;
  margin: 7px;
}

.Tag {
  float: right;
  padding: 4px;
}
