.Page {
  background-color: #f4fbff;
}

.Form {
  background-color: white;
  padding: 24px;
  display: block;
}

.form {
  display: table-cell;
  vertical-align: middle;
  height: 100vh;
  margin: 0 auto;
}

.ImageCard {
  position: relative;
  height: 105vh;
  background-image: url("../../static/working.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom left;
  background-size: 850px 850px;
}
