.AddCourse .ImageCard {
  position: relative;
  background-image: url("../../static/addcourseimage.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom left;
  background-size: 600px;
}

.add-course-wrapper {
  display: flex;
  align-items: center;
  height: calc(100vh - 68px);
  justify-content: center;
}
.add-course .ant-form {
  padding: 24px;
  max-width: 500px;
  width: 100vw;
}

.InstructorForm .ant-btn {
  padding: 2px;
}

/* Weird fix for extra spacing between seg control and rest of form */
.ant-col.ant-form-item-control {
  height: 32px;
}
