.Splash {
  width: 100vw;
}

.Splash h2 {
  font-size: 35px;
}

.Splash .body-wrapper .ant-row {
  margin: 40px;
}

.Splash p {
  font-size: 16px;
  color: #7b7b7b;
}

.header-title {
  color: white;
  font-size: 36px;
  font-weight: 100;
  line-height: 1.1;
  margin-bottom: 16px;
}
.body-title {
  font-size: 36px;
  font-weight: bolder;
  margin-top: 36px;
  text-align: center;

  margin-bottom: 16px;
}

.Splash .emphasize {
  color: #262626;
  font-size: 36px;
  font-weight: bold;
}

.headerImage {
  width: 500px;
}

.bodyImage {
  width: 100%;
  border-radius: 4px;
  box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.02);
}

.body-wrapper {
  padding: 24px;
  margin: auto;
  width: 100vw;
  max-width: 1000px;
}

.header-wrapper {
  padding: 24px;
  display: flex;
  align-items: center;
  margin: auto;
  width: 100vw;
  max-width: 1000px;
}
