.Splash {
  width: 100vw;
}

.Splash h2 {
  font-size: 32px;
  margin: 12px 0px;
}

.Splash .body-wrapper .ant-row {
  margin: 40px;
}

.Splash p {
  font-size: 16px;
  color: #7b7b7b;
}

.Splash .highlight {
  text-decoration: none;
  display: inline-flex;
}

.Splash .emphasize {
  font-size: 36px;
  box-shadow: inset 0 -0.1em white;
  display: inline;
}

.header-title {
  color: white;
  font-size: 36px;
  font-weight: 100;
  line-height: 1.1;
  margin-bottom: 16px;
}
.body-title {
  font-size: 36px;
  font-weight: bolder;
  margin-top: 36px;
  text-align: center;

  margin-bottom: 16px;
}

.headerImage {
  width: 500px;
}

.bodyImage {
  width: 100%;
  border-radius: 4px;
  box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.02);
}

.body-wrapper {
  padding: 48px;
  margin: auto;
  width: 100vw;
  max-width: 1100px;
}

.header-wrapper {
  padding: 48px;
  display: flex;
  align-items: center;
  margin: auto;
  width: 100vw;
  max-width: 1100px;
}
