.SignInPage {
    background-color: #f4fbff;
  }
  
  .signInForm {
    background-color: #f4fbff;
    padding: 24px;
    display: block;
  }
  
  .form {
    display: table-cell;
    vertical-align: middle;
    height: 100vh;
    margin: 0 auto;
  }