.sign-in-wrapper {
  height: 100vh;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .SignInWrapper {
    align-items: baseline;
  }
}

.sign-in .ant-btn {
  margin-top: 28px;
  margin-bottom: 8px;
}

form#signin {
  width: 100vw;
  max-width: 600px;
  padding: 16px;
}
