@media only screen and (max-width: 450px) {
  .FloatingImage {
    display: none;
  }
}

.FloatingImage {
  position: absolute;
  top: -30px;
  right: 0;
  width: 150px;
  z-index: 1;
}

.IconTag {
  display: flex;
  align-items: center;
}

.Icon {
  width: 14px;
  height: 14px;
  margin: 0px 4px;
}
