.MenuIcon {
  display: inline-block;
  vertical-align: middle;
  font-size: 32px;
  color: white;
}

.CenterLeftContainer {
  display: flex;
  align-items: center;
  height: 100%;
}

.ant-dropdown-menu {
  box-shadow: none;
  border: none;
}

.ant-layout-sider {
  background: none;
  padding: 0 16px;
}

.Logo {
  width: 100px;
}

.menu-items .ant-badge-status {
  line-height: 20px;
}
