.MenuIcon {
  display: inline-block;
  vertical-align: middle;
  font-size: 32px;
  color: white;
}

.CenterLeftContainer {
  display: flex;
  align-items: center;
  height: 100%;
}

.ant-dropdown-menu {
  box-shadow: none;
  border: none;
}

.signedout-navbar button.ant-btn {
  margin-right: 8px;
}

.ant-layout-sider {
  background: none;
  padding: 0 16px;
}

.Logo {
  width: 100px;
}

.menu-items .ant-badge-status {
  line-height: 20px;
}

.menu-items .ant-badge-dot {
  box-shadow: none;
}

.menu-items .normal p {
  color: #595959;
}

.menu-items .white p {
  color: white;
}

.mobile-navbar {
  display: none;
}

.desktop-navbar {
  display: inline;
}

@media only screen and (max-width: 600px) {
  .mobile-navbar {
    display: inline;
  }
  .desktop-navbar {
    display: none;
  }
}
