.navbar-wrapper {
  height: 68px;
  width: 100vw;
  line-height: 14px;
  position: fixed;
  z-index: 2;
}

.ant-dropdown-menu {
  box-shadow: none;
  border: none;
}

.ant-menu-horizontal {
  background: none;
  border: 0px;
}

.signedout-navbar button.ant-btn {
  margin-right: 8px;
}
.avatar-dropdown {
  margin: 0px 8px;
}

.ant-layout-sider {
  background: none;
  padding: 0 16px;
}

.Logo {
  width: 100px;
  margin: 0px 16px;
}

.menu-items .ant-badge-status {
  line-height: 20px;
}

.menu-items .ant-badge-dot {
  box-shadow: none;
}

.menu-items .normal p {
  color: #595959;
}

.menu-items .white p {
  color: white;
}

.mobile-navbar {
  display: none;
}

.desktop-navbar {
  display: inline;
}

.MenuIcon {
  display: inline-block;
  vertical-align: middle;
  font-size: 32px;
  color: white;
}

@media only screen and (max-width: 600px) {
  .mobile-navbar {
    display: inline;
  }
  .desktop-navbar {
    display: none;
  }
}
