.Logo {
  padding: 10px;
  width: 100px;
  background-color: none;
  cursor: pointer;
}

.MenuIcon {
  display: inline-block;
  vertical-align: middle;
  font-size: 32px;
  color: white;
}

.LogoMobile {
  width: 100px;
}

.Online {
  margin-bottom: 15px;
}

.Profile {
  text-align: right;
}
.loginButton {
  text-align: center;
}
.profPic {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  cursor: pointer;
}

li.ant-menu-item.ant-menu-item {
  padding: 0 10px;
}
.smallMenu {
  margin-right: 150px;
}
ul.ant-menu.ant-menu-light.ant-menu-root.ant-menu-horizontal {
  background: none;
  border-bottom: 0px;
}

.ant-dropdown-menu {
  box-shadow: none;
  margin-top: 20px;
}

.ant-layout-sider {
  background: none;
}

.ant-layout-sider-children {
  margin: 0px;
  padding: 8px;
}
