@media only screen and (max-width: 450px) {
  .FloatingImage {
    display: none;
  }
}

.FloatingImage {
  position: absolute;
  top: -10px;
  right: 0;
  width: 150px;
}

.IconTag {
  display: flex;
  align-items: center;
}

.Icon {
  width: 14px;
  height: 14px;
  margin-right: 4px;
}

.ant-form-item {
  display: flex;
}
