
.ImageCard{
  position:relative;
  height: 100vh;
  background-image:url("../static/working.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left bottom;
  background-size: 1000px;
}
/* .WorkingImage{
  position:absolute;
  width:90%;
  max-width:100%;
  bottom: 0px;
} */
