.ta-help-wrapper {
  max-width: 1000px;
  height: 100%;
  margin: auto;
  padding: 24px;
}

.instructor-help-wrapper {
  max-width: 1450px;
  height: 100%;
  margin: auto;
}

.ta-session-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: middle;
  width: 100%;
  max-width: 450px;
}

.open-session-form-header h1 {
  margin: 8px 0;
}

.icon-textbox {
  display: flex;
  align-items: center;
}

.icon-textbox .ant-form-item {
  width: 100%;
}

.icon-textbox .anticon svg {
  margin-bottom: 20px;
  margin-right: 8px;
}

.ta-session-wrapper .ant-form-item-explain {
  margin-left: 28px;
}
