.InteractionFixedGroup {
  position: relative;
  top: 25px;
  left: 25px;
}
.InteractionTitle {
  font-size: 24px;
}
.InteractionUnderText1 {
  color: grey;
  width: 150%;
}
.InteractionEmphasis {
  color: #40a9ff;
}
.InteractionPageIcon {
  width: 18px;
}
.InteractionUserInfo {
  color: #595959;
}
.DesktopTags {
  position: relative;
  max-width: 400px;
}

.InteractionFixedInner {
  position: relative;
  left: 5px;
}

.TAInteraction .ant-tag {
  margin: 2px;
}
.TAInteraction .ant-avatar {
  width: 70%;
  height: 70%;
  min-width: 200px;
  margin: 8px;
}

@media only screen and (max-width: 767px) {
  .TAInteraction .ant-avatar {
    width: 20%;
    height: 20%;
    min-width: 70px;
  }
  .DesktopTags {
    position: relative;
    max-width: 100%;
  }
}
