.InteractionFixedGroup {
  position: relative;
  top: 25px;
  left: 25px;
}
.InteractionTitle {
  font-size: 24px;
}
.InteractionUnderText1 {
  color: grey;
  width: 150%;
}
.InteractionEmphasis {
  color: #40a9ff;
}
.InteractionPageIcon {
  width: 18px;
}
.InteractionUserInfo {
  color: #595959;
}
.DesktopTags {
  position: relative;
  width: 200px;
}
.MobileTags {
  display: none;
}
.InteractionFixedInner {
  position: relative;
  left: 5px;
}

.TAInteraction .ant-tag {
  margin: 2px;
}
.TAInteraction .ant-avatar {
  width: 70%;
  height: 70%;
  min-width: 200px;
}

@media only screen and (max-width: 768px) {
  .MobileTags {
    position: relative;
    max-height: 100px;
    display: inline;
  }
  .DesktopTags {
    display: none;
  }

  .TAInteraction .ant-avatar {
    width: 20%;
    height: 20%;
    min-width: 70px;
  }
}
