.ant-radio-group {
  width: 100%;
}

.group-interaction .ant-list-item {
  padding: 3px;
}
.ant-radio-button-wrapper {
  width: 50%;
  float: center;
}

.ant-form label {
  text-align: center;
}

.ant-input-number {
  width: 100%;
}

.HelpWrapper {
  max-width: 1000px;
  height: 100%;
  margin: auto;
  padding: 24px;
}

.HelpWrapper .hero {
  height: 200px;
  padding: 8px;
  max-width: 100%;
}

.join-queue-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.ant-row.join-queue {
  width: 100%;
  max-width: 400px;
}

.join-queue .ant-card {
  height: 370px;
  margin: 8px;
}

.join-queue b {
  color: #40a9ff;
  cursor: pointer;
}

.join-queue .ant-card-body {
  height: 100%;
}

.card-details {
  height: 100%;
  display: flex; /* create nested flex container */
  flex-wrap: wrap; /* enable flex items to wrap */
  justify-content: center;
}

.card-details h1 {
  font-size: 24px;
}
