.ant-radio-group {
  width: 100%;
}

.ant-radio-button-wrapper {
  width: 50%;
  float: center;
}

.ant-form label {
  text-align: center;
}

.ant-input-number {
  width: 100%;
}

.HelpWrapper {
  max-width: 1000px;
  height: 100%;
  margin: auto;
  padding: 24px;
}

.HelpWrapper .hero {
  height: 200px;
  padding: 24px;
}

.leave-queue {
  padding: 8px;
}

.join-queue-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.ant-row.join-queue {
  min-height: calc(100vh - 116px);
  width: 800px;
}

.join-queue .ant-card {
  height: 350px;
}

.join-queue .ant-card-body {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-content: center;
}
