.ant-card.FullWidth.ant-card {
  width: 100%;
  margin: 8px 0px;
}

.FullWidth {
  width: 100%;
  margin: 0px;
}

.Settings .ant-card {
  margin-bottom: 120px;
}

.Settings .ant-card-body {
  padding: 16px;
}
.Settings p {
  margin-bottom: 8px;
}

.Settings .ant-list-item-meta {
  align-items: center;
}

.FullWidth h4.ant-list-item-meta-title {
  margin-bottom: 0;
  line-height: 1;
}
