.Page {
  background-color: #f4fbff;
}

.Form {
  background-color: white;
  padding: 24px;
  width: 100%;
}

.ImageCard {
  position: relative;
  height: 100vh;
  background-image: url("../../static/working.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left bottom;
  background-size: 600px;
}
