@media only screen and (min-width: 768px) {
  .form {
    display: table-cell;
    vertical-align: middle;
    height: 92vh;
    padding: 24px;
  }
  aside.ant-layout-sider.ant-layout-sider-dark {
    background-color: red;
  }
}

.form {
  background: none;
  width: 100%;
}

.ant-layout-sider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ImageCard {
  position: relative;
  height: 92vh;
  background-image: url("../../static/working.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom left;
  background-size: 800px;
  background-position-y: 200px;
}
