.form {
  display: table-cell;
  vertical-align: middle;
  height: 92vh;
  padding: 24px;
}

.ant-layout-sider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ImageCard {
  position: relative;
  height: 92vh;
  background-image: url("../../static/working.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom left;
  background-size: 800px;
  background-position-y: 200px;
}
