@import "~antd/dist/antd.less";
// App.js page styling
body {
  background-color: #f4fbff;
  overflow-x: hidden;
}

.NavBarContainer {
  margin-top: 64px;
  padding-bottom: 64px;
}

@media only screen and (max-width: 600px) {
  .PageContainerNoNavBar {
    margin-top: 16px;
    z-index: 3;
  }
}

// Text styling

p {
  color: #262626;
  font-size: 14px;
}

p.error {
  color: #ff4d50;
}

h1 {
  font-weight: bold;
  color: #40a9ff;
  font-size: 24px;
  margin: 0px;
  font-family: "DM Sans";
  line-height: 1;
}

h2 {
  font-weight: bold;
  color: #262626;
  font-size: 20px;
  margin: 0px;
  font-family: "DM Sans";
  line-height: 1;
}

h3 {
  font-weight: normal;
  color: #595959;
  font-size: 12px;
  margin: 0px;
}

h4 {
  font-weight: normal;
  color: #252525;
  font-size: 12px;
  margin: 0px;
  font-family: "DM Sans";
  line-height: 1;
}

h5 {
  font-weight: bold;
  color: #262626;
  font-size: 24px;
  margin: 0px;
  font-family: "DM Sans";
}

h6 {
  font-weight: normal;
  color: #262626;
  font-size: 16px;
  margin: 0px;
  font-family: "DM Sans";
  line-height: 1;
}

// Ant Cards
.ant-card {
  line-height: 1;
  margin: 8px;
}

.ant-card-body {
  padding: 16px;
}

.ant-card-head {
  padding: 8px 16px;
}

.ant-card-head-title {
  padding: 8px 0;
}

//Ant Form
.ant-form-item {
  line-height: 1;
  margin-bottom: 20px;
}

.ant-btn-primary {
  text-shadow: none;
  box-shadow: none;
}

.ant-form-vertical .ant-form-item-label {
  padding: 0 0 4px;
  line-height: 1;
}
.ant-card-small > .ant-card-body {
  padding: 4px;
}

p {
  color: #262626;
  font-size: 14px;
  margin-bottom: 0px;
}

//Layout
.ant-layout {
  background: none;
}

.ant-layout-sider {
  background: none;
}

.ant-modal-content {
  box-shadow: none;
}
//Ant Table Cell
.ant-table-thead .ant-table-cell {
  font-weight: bold;
  color: #262626;
  font-size: 14px;
  margin: 0px;
  font-family: "DM Sans";
  line-height: 1;
  padding: 10px;
}

.ant-table-tbody .ant-table-cell {
  font-weight: normal;
  color: #252525;
  font-size: 12px;
  margin: 0px;
  font-family: "DM Sans";
  line-height: 1;
  padding: 10px;
}


.ta-info{
  padding-left: 0px; 
  padding-right: 0px; 
  margin-bottom: 0px;
}