@import "~antd/dist/antd.less";

h1 {
  font-weight: bold;
  color: #40a9ff;
  font-size: 24px;
  margin: 4px 0px;
}

h2 {
  font-weight: bold;
  color: #262626;
  font-size: 20px;
}

h3 {
  font-weight: normal;
  color: #595959;
  font-size: 12px;
  margin: 0px 4px 0px 0px;
}

.ant-card {
  line-height: 1;
  margin: 16px 0px;
}

.ant-card-small > .ant-card-body {
  padding: 4px;
}

p {
  color: #262626;
  font-size: 14px;
}
