.header {
  font-size: 200%;
  padding: 5px;
}

.AddCourseForm {
  height: 100vh;
  padding: 24px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .AddCourseForm {
    align-items: baseline;
    background: none;
  }
}
