.HelpingGroupWrapper{
  background-color: white;
  width: 70%;
  max-width: 800px
}

.HelpingFixedGroup{
  position:relative;
  top:35px;
  left: 25px;
}
.HelpingPersonIcon{
  padding: 10px;
}

.HelpingUserInfo{
  position: relative;
  top: 6px;
  left: 8px;
  color: grey;
  font-size: 14px;
}

.HelpingTitle{
  font-size: 24px;
}

.HelpingPerson{
  width: 40px;
}

.HelpingClock{
  position: relative;
  left: 3px;
  width: 30px;
}


@media only screen and (max-width: 992px) {
  .HelpingGroupWrapper {
    margin:auto;
    width:100%;
    max-width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .HelpingFixedGroup{
    position:relative;
    left: 45px;
  }
}
