.announcement {
  margin: 0px 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.announcement .ant-form-item {
  margin-bottom: 0px;
}

.announcementContainer {
  margin: 0px 8px;
  padding: 4px 16px;
  background-color: #ddf0ff;
  border: 1px solid #91d5ff;
  color: #1890ff;
}
