.add-course-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}
.add-course .ant-form {
  padding: 24px;
  max-width: 500px;
  width: 100vw;
}

.add-course-container {
  margin: auto;
  padding: 24px;
  max-width: 500px;
  width: 100vw;
}

.InstructorForm .ant-btn {
  padding: 2px;
}

/* Weird fix for extra spacing between seg control and rest of form */
.ant-col.ant-form-item-control {
  height: 32px;
}

.upload-add-students .ant-upload {
  width: 100%;
}
