.left-right-row-container .right {
  margin-top: 8px;
}

@media only screen and (min-width: 770px) {
  .left-right-row-container {
    clear: both;
  }

  .left-right-row-container .left {
    float: left;
    margin: 0 8px;
  }

  .left-right-row-container .right {
    float: right;
    margin: 0 8px;
  }
}
